[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "trainsplit"]
	path = trainsplit
	url = https://github.com/eastnile/trainsplit
